.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  background-position: top;
}
.home-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
}
.home-description {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
}

.find-jobs-btn {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  background-color: #4f46e5;
  width: 100px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  height: 40px;
}

.home-text-container {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-link-btn {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    flex-grow: 1;
  }
}
